# TOPS Sample Quality Check

In [161]:
import qgrid
import pandas as pd
pd.options.display.max_columns=999
pd.options.display.max_rows=999
import numpy as np
%reload_ext autoreload
%autoreload 2
from tqdm import tqdm_notebook, trange
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import warnings
warnings.filterwarnings("ignore")
def check_missing(df):
    per_missing = df.isnull().mean()
    missing_df = pd.DataFrame({'col': df.columns, 'per_missing': per_missing})
    missing_df = missing_df.sort_values('per_missing',ascending=False).reset_index(drop=True)
    missing_df['col'] = pd.Categorical(missing_df.col, categories=missing_df.col, ordered=True)
    return missing_df

In [162]:
df = pd.read_csv('data/tops_sample.csv')
qgrid.show_grid(df[[c for c in df.columns if '_en' in c]])

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau…

In [163]:
qgrid.show_grid(df[[c for c in df.columns if '_th' in c]])

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau…

In [164]:
#missing values
check_missing(df)

               col  per_missing
0     long_desc_en       0.6440
1     long_desc_th       0.6436
2         brand_en       0.0596
3         brand_th       0.0596
4   subcategory_th       0.0422
5         class_th       0.0392
6      category_th       0.0388
7      category_en       0.0386
8   subcategory_en       0.0386
9         class_en       0.0386
10         name_th       0.0204
11             sku       0.0000
12      created_at       0.0000
13         name_en       0.0000

In [165]:
#thai characters in english names
import re
def char_percent(pattern,text):
    return len(re.findall(pattern,text)) / (len(text)+0.01)

df[df.name_en.map(lambda x: char_percent('[ก-๙]',str(x)))>0].iloc[:,:4]

,sku,created_at,name_en,name_th
212,8851932377522,2018-04-02 08:01:48.000,Citra Papaya Whitening Scrub Bar Soap 110กรัม,ซิตร้าสบู่ก้อนสครับไวท์เทนนิ่งมะละกอ 110กรัม
737,48376815,2018-10-12 22:40:30.000,กระเช้าของขวัญปีใหม่ CFH04@5500,กระเช้าของขวัญปีใหม่ CFH04@5500
1282,8857104840054,2018-04-02 05:23:08.000,Gohair Scalp Treatment 200มล.,โกแฮร์ทรีทเม้นท์บำรุงเส้นผมสคลัป 200มล.
1483,4589975540231,2018-04-01 22:34:25.000,Ayurbio Moist Extra Rich Treatment 520มล.,อายูไบโอทรีทเม้นท์โกลด์ 520มล.
2760,8851932377508,2018-04-02 08:01:48.000,Citra Thanaka Whitening Scrub Bar Soap 110กรัม,ซิตร้าสบู่ก้อนสครับไวท์เทนนิ่งทานาคา 110กรัม
3251,8859178715504,2018-09-27 22:56:42.000,Mistine Champion Pink Complete Eye Palette 6.5...,มิสทินอายพาเลทแชมเปี้ยนพิ้งค์คอมพลีท 6.5กรัม
3458,299695,2018-10-22 22:42:18.000,กระเช้าของขวัญปีใหม่ Marks and Spencer Sparkli...,M&S สปาร์คกิ้งวันเดอร์เอสโก 2019

In [166]:
#thai characters in english brands
import re
def char_percent(pattern,text):
    return len(re.findall(pattern,text)) / (len(text)+0.01)

df[df.brand_en.map(lambda x: char_percent('[ก-๙]',str(x)))>0].iloc[:,:6]

,sku,created_at,name_en,name_th,brand_en,brand_th
1222,3090291386041,2018-05-21 03:33:41.000,Fol Epi Classic Cheese 150g.,ฟอลเอปิคลาสสิคชีส 150กรัม,ฟอลเอปิ,FOL EPI
2035,8856950002142,2018-04-02 05:16:40.000,Khun Maeju Cashew Nut 150g.,คุณแม่จู้มะม่วงหิมพานต์อบเกลือ 110กรัม,คุณแม่จู้,คุณแม่จู้

In [167]:
#thai characters in english descriptions
import re
def char_percent(pattern,text):
    return len(re.findall(pattern,text)) / (len(text)+0.01)

df[df.long_desc_en.map(lambda x: char_percent('[ก-๙]',str(x)))>0].iloc[:,-2:]

,long_desc_th,long_desc_en
0,พายไส้ไก่ หอม อร่อย เพลิดเพลินได้ทุกที่ทุกเวลา...,พายไส้ไก่ หอม อร่อย เพลิดเพลินได้ทุกที่ทุกเวลา...
6,เส่งเฮงฟองเต้าหู้ คุณภาพมาตราฐาน 100% ใช้วัตถุ...,เส่งเฮงฟองเต้าหู้ คุณภาพมาตราฐาน 100% ใช้วัตถุ...
7,แบรนด์ซุปไก่สกัดรสต้นตำรับ 42 มล. เป็นที่นิยม...,แบรนด์ซุปไก่สกัดรสต้นตำรับ 42 มล. เป็นที่นิยม...
9,มายช้อยส์ไทยปลาหมึกบดปรุงรส อร่อยกรอบ กินได...,มายช้อยส์ไทยปลาหมึกบดปรุงรส อร่อยกรอบ กินได...
11,ชิตาเกะ หรือเห็ดหอม เป็นเห็ดที่มีรูปร่างคล้ายร...,ชิตาเกะ หรือเห็ดหอม เป็นเห็ดที่มีรูปร่างคล้ายร...
...,...,...
4989,บราวอิทโปรเฟสชั่นนอลบราวรุ่นแองเกิ้ลบรัช แปรงพ...,บราวอิทโปรเฟสชั่นนอลบราวรุ่นแองเกิ้ลบรัช แปรงพ...
4994,มายด์มัสตาร์ดดิจองเนสครีมมี่ มัสตาร์ดมีรสชาติท...,มายด์มัสตาร์ดดิจองเนสครีมมี่ มัสตาร์ดมีรสชาติท...
4996,จอห์นสันเบบี้มิลค์บาธ 1000มล. สบู่เหลวอาบน้ำที...,จอห์นสันเบบี้มิลค์บาธ 1000มล. สบู่เหลวอาบน้ำที...
4997,nestle' cerelac starspuffs complementary food ...,เนสท์เล่ซีรีแล็คสตาร์สพัพฟ์สรสกล้วยและสตรอเบอร...
4999,เบบี้มายด์แป้งเด็กสีชมพู ผลิตภัณฑ์แป้งฝุ่นโรยต...,เบบี้มายด์แป้งเด็กสีชมพู ผลิตภัณฑ์แป้งฝุ่นโรยต...

In [168]:
#be careful about the translation
df.category_en.value_counts()

Health & Beauty Care           1421
Pantry & Ingredients            736
Snacks & Desserts               647
Household & Pet                 526
Beverages                       409
Fresh Food & Bakery             308
Beer,Wine & Spirits             241
Fruit & Vegetables              159
Mom & Kids                      145
Meat & Seafood                  108
International Products           36
Merit & Giftset                  25
Shop by Brands                   25
Season's Greetings               19
Chinese New Year Products         1
Promotion Crazy Price 12.12       1
Name: category_en, dtype: int64

In [169]:
df.category_th.value_counts()

สุขภาพและความงาม              1421
ของแห้งและเครื่องปรุง          736
สแน็คและของหวาน                647
ของใช้ในบ้านและสัตว์เลี้ยง     526
เครื่องดื่มและผงชงดื่ม         409
อาหารสดและเบเกอรี่             308
เครื่องดื่มแอลกอฮอล์           241
ผักและผลไม้                    159
แม่และเด็ก                     145
เนื้อสัตว์และอาหารทะเล         108
สินค้าต่างประเทศ                36
สังฆภัณฑ์และสินค้าเทศกาล        25
ช็อปตามแบรนด์                   25
สินค้าเทศกาลปีใหม่              19
สินค้าตรุษจีน                    1
Name: category_th, dtype: int64

In [170]:
#WTF!?
df[df.category_en=='Promotion Crazy Price 12.12'][['category_en','subcategory_en','category_th','subcategory_th']]

,category_en,subcategory_en,category_th,subcategory_th
4778,Promotion Crazy Price 12.12,Health & Beauty Care,NaN,NaN

In [171]:
df.columns

Index(['sku', 'created_at', 'name_en', 'name_th', 'brand_en', 'brand_th',
       'category_en', 'subcategory_en', 'class_en', 'category_th',
       'subcategory_th', 'class_th', 'long_desc_th', 'long_desc_en'],
      dtype='object')